<div class="card_container">
	<%= render @projects %>
</div>
    <div id="firepad"></div>
    <script>
      var firepadRef = new Firebase('https://nanddalal.firebaseio.com/firepads/1337');
      var codeMirror = CodeMirror(document.getElementById('firepad'), { lineWrapping: true, lineNumbers: true });
      var firepad = Firepad.fromCodeMirror(firepadRef, codeMirror,
          { richTextShortcuts: true, richTextToolbar: true, mode: "text/html" });
    </script>
