<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<a href="http://www.bookshout.com/">Bookshout!</a>
    <div id="firepad"></div>
    <script>
      var firepadRef = new Firebase('https://nanddalal.firebaseio.com/firepads/1337');
      var codeMirror = CodeMirror(document.getElementById('firepad'), { lineWrapping: true, lineNumbers: true });
      var firepad = Firepad.fromCodeMirror(firepadRef, codeMirror,
          { richTextShortcuts: true, richTextToolbar: true, mode: "text/html" });
    </script>
