<div class="footer">
  <div class="container">
    <div class="row">
      <div class="span12">
        <ul>
          <li><a href="http://www.umich.edu/">University of Michigan</a></li>
          <li><a href="http://www.cfe.umich.edu/">Center for Entrepreneurship</a></li>
          <li><a href="">Contact Us</a></li>
        </ul>
        <div class="copyright">
          &copy; 2013 Flipped Semester
        </div>
      </div>
    </div>
  </div>
</div>